github "datatheorem/TrustKit" == 1.7.0
binary "https://raw.githubusercontent.com/Judopay/DeviceDNA-iOS/master/DeviceDNA.json"
github "krzyzanowskim/OpenSSL" ~> 1.1.180
github "Judopay/pbba-merchant-button-library-ios" == 3.1.3
