github "datatheorem/TrustKit" == 3.0.3
binary "https://raw.githubusercontent.com/Judopay/DeviceDNA-iOS/master/DeviceDNA.json" == 2.1.0
binary "https://raw.githubusercontent.com/Judopay/Judo3DS2-iOS/master/Judo3DS2_iOS.json" == 1.2.0
github "krzyzanowskim/OpenSSL" ~> 1.1.2200
binary "https://raw.githubusercontent.com/unravelin/ravelin-encrypt-ios-xcframework-distribution/main/RavelinEncrypt.json" == 1.1.1
