<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>apple_pay_settings_header</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>merchant_id_title</string>
			<key>Key</key>
			<string>apple_pay_merchant_id</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_fields_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_postal_address_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_postal_address_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_phone_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_phone_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_email_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_email_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_name_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_name_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_fields_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_postal_address_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_postal_address_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_phone_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_phone_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_email_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_email_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_name_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_name_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_returned_contact_info_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_returned_contact_billing_title</string>
			<key>Key</key>
			<string>is_apple_pay_billing_contact_info_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_returned_contact_shipping_title</string>
			<key>Key</key>
			<string>is_apple_pay_shipping_contact_info_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_recurring_payment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_recurring_payment_enabled_title</string>
			<key>Key</key>
			<string>is_recurring_payment_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_description_title</string>
			<key>Key</key>
			<string>recurring_payment_description</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_billing_agreement_title</string>
			<key>Key</key>
			<string>recurring_payment_billing_agreement</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_management_url_title</string>
			<key>Key</key>
			<string>recurring_payment_management_url</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_label_title</string>
			<key>Key</key>
			<string>recurring_payment_label</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_amount_title</string>
			<key>Key</key>
			<string>recurring_payment_amount</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_interval_unit_title</string>
			<key>Key</key>
			<string>recurring_payment_interval_unit</string>
			<key>Values</key>
			<array>
				<integer>64</integer>
				<integer>32</integer>
				<integer>16</integer>
				<integer>8</integer>
				<integer>4</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>recurring_payment_interval_unit_minute</string>
				<string>recurring_payment_interval_unit_hour</string>
				<string>recurring_payment_interval_unit_day</string>
				<string>recurring_payment_interval_unit_month</string>
				<string>recurring_payment_interval_unit_year</string>
			</array>
			<key>DefaultValue</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_interval_count_title</string>
			<key>Key</key>
			<string>recurring_payment_interval_count</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_start_date_title</string>
			<key>Key</key>
			<string>recurring_payment_start_date</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recurring_payment_end_date_title</string>
			<key>Key</key>
			<string>recurring_payment_end_date</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
