<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Settings</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>api_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_sandboxed_title</string>
			<key>Key</key>
			<string>is_sandboxed</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>judo_id_title</string>
			<key>Key</key>
			<string>judo_id</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>authorization_header</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>is_payment_session_on</string>
			<key>Title</key>
			<string>token_and_payment_session_header</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>token_title</string>
			<key>Key</key>
			<string>session_token</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>payment_session_title</string>
			<key>Key</key>
			<string>payment_session</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>generate_payment_session_title</string>
			<key>Key</key>
			<string>generate_payment_session</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>is_token_and_secret_on</string>
			<key>Title</key>
			<string>token_and_secret_header</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>token_title</string>
			<key>Key</key>
			<string>token</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>secret_title</string>
			<key>Key</key>
			<string>secret</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>three_ds2_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_3ds2_enabled_title</string>
			<key>Key</key>
			<string>should_ask_for_billing_information</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>challenge_request_indicator_title</string>
			<key>Key</key>
			<string>challenge_request_indicator</string>
			<key>Values</key>
			<array>
				<string>dontSet</string>
				<string>noPreference</string>
				<string>noChallenge</string>
				<string>challengePreferred</string>
				<string>challengeAsMandate</string>
			</array>
			<key>Titles</key>
			<array>
				<string>challenge_request_don_t_set_title</string>
				<string>challenge_request_no_preference_indicator_title</string>
				<string>challenge_request_no_challenge_indicator_title</string>
				<string>challenge_request_challenge_preferred_indicator_title</string>
				<string>challenge_request_challenge_as_mandate_indicator_title</string>
			</array>
			<key>DefaultValue</key>
			<string>dontSet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>sca_exemption_title</string>
			<key>Key</key>
			<string>sca_exemption</string>
			<key>Values</key>
			<array>
				<string>dontSet</string>
				<string>lowValue</string>
				<string>secureCorporate</string>
				<string>trustedBeneficiary</string>
				<string>transactionRiskAnalysis</string>
			</array>
			<key>Titles</key>
			<array>
				<string>sca_exemption_don_t_set_title</string>
				<string>sca_exemption_low_value_title</string>
				<string>sca_exemption_secure_corporate_title</string>
				<string>sca_exemption_trusted_beneficiary_title</string>
				<string>sca_exemption_transaction_risk_analysis_title</string>
			</array>
			<key>DefaultValue</key>
			<string>dontSet</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>three_ds2_max_timeout_title</string>
			<key>Key</key>
			<string>three_ds_two_max_timeout</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>three_ds2_protocol_message_version_title</string>
			<key>Key</key>
			<string>three_ds_two_message_version</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ThreeDSSDKUICustomisation</string>
			<key>Title</key>
			<string>UI customization</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>recommendation_feature_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_recommendation_enabled_title</string>
			<key>Key</key>
			<string>is_recommendation_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>rsa_key_title</string>
			<key>Key</key>
			<string>rsa_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recommendation_url_title</string>
			<key>Key</key>
			<string>recommendation_url</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>recommendation_api_timeout_title</string>
			<key>Key</key>
			<string>recommendation_api_timeout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>network_timeout_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>connect_timeout_title</string>
			<key>Key</key>
			<string>connect_timeout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>read_timeout_title</string>
			<key>Key</key>
			<string>read_timeout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>write_timeout_title</string>
			<key>Key</key>
			<string>write_timeout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>reference_header</string>
			<key>FooterText</key>
			<string>reference_footer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>payment_reference_title</string>
			<key>Key</key>
			<string>payment_reference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>consumer_reference_title</string>
			<key>Key</key>
			<string>consumer_reference</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>amount_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>amount_title</string>
			<key>Key</key>
			<string>amount</string>
			<key>DefaultValue</key>
			<string>0.15</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>currency_title</string>
			<key>Key</key>
			<string>currency</string>
			<key>Values</key>
			<array>
				<string>GBP</string>
				<string>USD</string>
				<string>EUR</string>
				<string>AUD</string>
				<string>SEK</string>
				<string>CAD</string>
				<string>NOK</string>
				<string>BRL</string>
				<string>CHF</string>
				<string>CZK</string>
				<string>DKK</string>
				<string>HKD</string>
				<string>HUF</string>
				<string>JPY</string>
				<string>NZD</string>
				<string>PLN</string>
				<string>ZAR</string>
				<string>ARS</string>
				<string>BHD</string>
				<string>MMK</string>
				<string>KYD</string>
				<string>CLP</string>
				<string>CNY</string>
				<string>COP</string>
				<string>ISK</string>
				<string>INR</string>
				<string>IDR</string>
				<string>JOD</string>
				<string>KWD</string>
				<string>OMR</string>
				<string>NGN</string>
				<string>PKR</string>
				<string>NIO</string>
				<string>PAB</string>
				<string>PHP</string>
				<string>QAR</string>
				<string>RUB</string>
				<string>SAR</string>
				<string>SGD</string>
				<string>VND</string>
				<string>AED</string>
				<string>RSD</string>
				<string>RON</string>
				<string>MXN</string>
				<string>UAH</string>
			</array>
			<key>Titles</key>
			<array>
				<string>currency_gbp</string>
				<string>currency_usd</string>
				<string>currency_eur</string>
				<string>currency_aud</string>
				<string>currency_sek</string>
				<string>currency_cad</string>
				<string>currency_nok</string>
				<string>currency_brl</string>
				<string>currency_chf</string>
				<string>currency_czk</string>
				<string>currency_dkk</string>
				<string>currency_hkd</string>
				<string>currency_huf</string>
				<string>currency_jpy</string>
				<string>currency_nzd</string>
				<string>currency_pln</string>
				<string>currency_zar</string>
				<string>currency_ars</string>
				<string>currency_bhd</string>
				<string>currency_mmk</string>
				<string>currency_kyd</string>
				<string>currency_clp</string>
				<string>currency_cny</string>
				<string>currency_cop</string>
				<string>currency_isk</string>
				<string>currency_inr</string>
				<string>currency_idr</string>
				<string>currency_jod</string>
				<string>currency_kwd</string>
				<string>currency_omr</string>
				<string>currency_ngn</string>
				<string>currency_pkr</string>
				<string>currency_nio</string>
				<string>currency_pab</string>
				<string>currency_php</string>
				<string>currency_qar</string>
				<string>currency_rub</string>
				<string>currency_sar</string>
				<string>currency_sgd</string>
				<string>currency_vnd</string>
				<string>currency_aed</string>
				<string>currency_rsd</string>
				<string>currency_ron</string>
				<string>currency_mxn</string>
				<string>currency_uah</string>
			</array>
			<key>DefaultValue</key>
			<string>GBP</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>address_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_address_enabled_title</string>
			<key>Key</key>
			<string>is_address_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_line_1_title</string>
			<key>Key</key>
			<string>address_line_1</string>
			<key>DefaultValue</key>
			<string>My house</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_line_2_title</string>
			<key>Key</key>
			<string>address_line_2</string>
			<key>DefaultValue</key>
			<string>My street</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_line_3_title</string>
			<key>Key</key>
			<string>address_line_3</string>
			<key>DefaultValue</key>
			<string>My area</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_town_title</string>
			<key>Key</key>
			<string>address_town</string>
			<key>DefaultValue</key>
			<string>My town</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_post_code_title</string>
			<key>Key</key>
			<string>address_post_code</string>
			<key>DefaultValue</key>
			<string>TR14 8PA</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_country_code_title</string>
			<key>Key</key>
			<string>address_country_code</string>
			<key>DefaultValue</key>
			<string>826</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_state_title</string>
			<key>Key</key>
			<string>address_state</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_phone_country_code_title</string>
			<key>Key</key>
			<string>address_phone_country_code</string>
			<key>DefaultValue</key>
			<string>44</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_mobile_number_title</string>
			<key>Key</key>
			<string>address_mobile_number</string>
			<key>DefaultValue</key>
			<string>0799999999</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>address_email_title</string>
			<key>Key</key>
			<string>address_email_address</string>
			<key>DefaultValue</key>
			<string>email@address.com</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>primary_account_details_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_primary_account_details_enabled_title</string>
			<key>Key</key>
			<string>is_primary_account_details_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>primary_account_name_title</string>
			<key>Key</key>
			<string>primary_account_name</string>
			<key>DefaultValue</key>
			<string>test-account-name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>primary_account_account_number_title</string>
			<key>Key</key>
			<string>primary_account_account_number</string>
			<key>DefaultValue</key>
			<string>4015434234</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>primary_account_date_of_birth_title</string>
			<key>Key</key>
			<string>primary_account_date_of_birth</string>
			<key>DefaultValue</key>
			<string>1970-10-11</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>primary_account_post_code_title</string>
			<key>Key</key>
			<string>primary_account_post_code</string>
			<key>DefaultValue</key>
			<string>EC2A</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>merchant_id_title</string>
			<key>Key</key>
			<string>apple_pay_merchant_id</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_fields_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_postal_address_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_postal_address_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_phone_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_phone_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_email_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_email_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_billing_field_name_title</string>
			<key>Key</key>
			<string>is_billing_contact_field_name_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_fields_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_postal_address_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_postal_address_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_phone_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_phone_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_email_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_email_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_required_shipping_field_name_title</string>
			<key>Key</key>
			<string>is_shipping_contact_field_name_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>apple_pay_returned_contact_info_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_returned_contact_billing_title</string>
			<key>Key</key>
			<string>is_apple_pay_billing_contact_info_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>apple_pay_returned_contact_shipping_title</string>
			<key>Key</key>
			<string>is_apple_pay_shipping_contact_info_required</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>card_networks_title</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_visa</string>
			<key>Key</key>
			<string>is_card_network_visa_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_master_card</string>
			<key>Key</key>
			<string>is_card_network_master_card_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_maestro</string>
			<key>Key</key>
			<string>is_card_network_maestro_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_amex</string>
			<key>Key</key>
			<string>is_card_network_amex_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_china_union_pay</string>
			<key>Key</key>
			<string>is_card_network_china_union_pay_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_jcb</string>
			<key>Key</key>
			<string>is_card_network_jcb_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_discover</string>
			<key>Key</key>
			<string>is_card_network_discover_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>card_networks_entry_diners_club</string>
			<key>Key</key>
			<string>is_card_network_diners_club_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>payment_methods_title</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>payment_methods_entry_card</string>
			<key>Key</key>
			<string>is_payment_method_card_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>payment_methods_entry_ideal</string>
			<key>Key</key>
			<string>is_payment_method_ideal_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>payment_methods_entry_apple_pay</string>
			<key>Key</key>
			<string>is_payment_method_apple_pay_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>others_header</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>avs_title</string>
			<key>Key</key>
			<string>is_avs_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>amount_method_label_title</string>
			<key>Key</key>
			<string>should_payment_methods_display_amount</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>amount_button_label_title</string>
			<key>Key</key>
			<string>should_payment_button_display_amount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>security_code</string>
			<key>Key</key>
			<string>should_ask_security_code</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_initial_recurring_payment_title</string>
			<key>Key</key>
			<string>is_initial_recurring_payment</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>is_delayed_authorisation_on_title</string>
			<key>Key</key>
			<string>is_delayed_authorisation_on</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>token_payments</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>should_ask_for_csc_title</string>
			<key>Key</key>
			<string>should_ask_for_csc</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>should_ask_for_cardholder_name_title</string>
			<key>Key</key>
			<string>should_ask_for_cardholder_name</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
